@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
*{
    margin: 0;padding: 0;margin: 0;
    box-sizing: border-box;
    border: 0;outline: 0;
}
body{
    background-color: #1B1717;
}
.wrapper{
    width: 100vw;
    display: flex;
    position: absolute;
    left: 50%;top: 35%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    width: 0;height: 0;
    background-color: yellow;
    .techs{
        height: 80vh;
        margin-top: 10vh;
        [class^=p]{
            height: 20%;
            border: 1px solid;
        }
        .html{
            left: 0px;
            top: 0px;
            div{background-color: #E44D26;}
        }
        .css{
            left: 121px;
            top: 121px;
            div{background-color: #1A72B9;}
        }
        .js{
            left: 0;
            top: 242.5px;
            div{background-color: #FFD83A;}
        }
        .csharp{
            left: -100px;
            top: 121px;
            div{background-color: #7F3089;}
        }
        .php{
            left: -79px;
            top: 364px;
            div{background-color: #484C89;}
        }
        .scss{
            left: 242px;
            top: 21px;
            div{background-color: #C95C95;}
            img{padding-left: 15px;}
        }
        .java{
            left: 79px;
            top: 364px;
            div{background-color: silver}
            img{padding-bottom: 20px;}
        }
        .python{
            left: 0;
            top: 447px;
            div{background-color: #ffffff}
            img{padding-bottom: 10px;}
        }
        .cpp{
            left: 182px;
            top: 281px;
            div{background-color: #004482}
            img{padding-bottom: 5px;}
        }
        .git{
            left: 228px;
            top: 183px;
            div{background-color: snow}
            img{padding-bottom: 5px;}
        }
        .gimp{
            left: 275px;
            top: 231px;
            div{background-color: snow}
            img{padding-bottom: 5px;}
        }
        .tcont{
            transform: translate(-50%,-50%);
            display: flex;
            margin: 0 40px;
            justify-content: center;
            align-items: center;
            position: absolute;
            *{
                position: absolute;
            }
            span{
                left: 34%;
                width: 100%;
                font-size: 10px;
                transform: rotate(-45deg);
                z-index: 20;
                color: rgb(0, 0, 0);
                font-weight: bold;
                font-family: 'Balsamiq Sans', cursive;
                sup{
                    font-size: 10px;
                }
            }
            img{
                margin-top: 5px;
                display: flex;
                z-index: 10;
            }
            div{
                width: 100%;
                height: 100%;
                transform: rotate(45deg);
            }
        }
        .ssmall {
            width: 90px ;height: 90px;
            span{
            top: 70%;
            }
        }
        .smedium{
            width: 120px;height: 120px;
            span{
                top: 72.5%;
                }
        }
        .slarge {
            width: 150px;height: 150px;
            span{
                top: 75%;
                }
        }
        .exsmall {
            width: 50px;height: 50px;
        }
    }
}